.item-page {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;

  .left {
    width: 50%;
    display: flex;
    flex-flow: column;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    h1 {
      padding-top: 30vh;
      margin: auto;

      font-size: 3rem;
      line-height: 4.5rem;
      color: #353535;
      font-weight: 600;
      word-break: break-word;
      text-align: center;

      @media screen and (max-width: 960px) {
        padding-top: 10vh;
      }
    }

    p {
      margin: auto;

      opacity: .9;
      font-size: 1rem;
      font-weight: 500;
      color: #353535;
      word-break: break-word;
    }

    p:first-of-type {
      font-weight: 300;
    }


  }

  .right {
    width: 50%;
    display: flex;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    img {
      padding-top: 30vh;
      margin: auto;

      @media screen and (max-width: 960px) {
        padding-top: 15vh;
      }
    }
  }

  @media screen and (max-width: 960px) {
    flex-direction: column-reverse;
  }
}