html,
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth; 
  font-family: 'Poppins';
  background-color: #e7eeed;
}

// ALL TEXT

h1, h2, p, li {
  color: #353535;
  word-break: break-word;
}

h1 {
  font-weight: bold;
}

p {
  font-weight: normal;
}

// COLORS
.white {
  --color: #fff;
}

.yellow {
  --color: #ffd42d;
}

.red {
  --color: #ff6060;
}

.black {
  --color: #353535;
}

.grey {
  --color: #353535;
}

.light-grey {
  --color: #707070;
}

// COLOR BEHAVIOR
/* Specific color from CSS */
.text-color {
  color: var(--color);
}

.bcg-color {
  background-color: var(--color);
}

/* Page Color */
.text-color.page-color {
  color: var(--page-color);
}

.bcg-color.page-color {
  background-color: var(--page-color);
}

// TEXT
.white-text {
  color: white;
}

.huge-text {
  font-size: 10rem;
}

.text-center {
  text-align: center;
}

// FONT SIZE
.font-100 {
  font-size: 1rem;
}

.font-125 {
  font-size: 1.25rem;
}

.font-130 {
  font-size: 1.3rem;
}

.font-150 {
  font-size: 1.5rem;
}

.font-175 {
  font-size: 1.75rem;
}

.font-200 {
  font-size: 200rem;
}

// SPECIFIC FONT SIZES 
.fontsize-1 {
  font-size: 1rem;
}

.fontsize-2 {
  font-size: 1.125rem;
}

.fontsize-3 {
  font-size: 1.375rem;
}

.fontsize-4 {
  font-size: 3rem;
}

.fontsize-5 {
  font-size: 7rem;
}

// FONT WEIGHT
.fontweight-light {
  font-weight: 300;
}

.fontweight-normal {
  font-weight: 500;
}

.fontweight-bold {
  font-weight: 600;
}

.fontweight-bolder {
  font-weight: 800;
}

// IMAGE
img.fit-contain {
  object-fit: contain;
}

img.w-1 {
  width: 1rem;
}

img.h-1 {
  height: 1rem;
}

img.thumbnail {
  border-radius: 0.25rem;
}

// WIDTH
.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

// MARGINS
.margin-0 {
  margin: 0;
}

.margin-tb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-tb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// OVERFLOW
.overflowy-hidden {
  overflow-y: hidden;
}

.overflowx-hidden {
  overflow-x: hidden;
}

// FLEX 
.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.flex.justifycontent-center {
  justify-content: center;
  align-items: center;
}

.flex.alignitems-center {
  align-items: center;
}

// GRID
.grid {
  display: grid;
}

// CONTAINERS
.container {
  width: 75rem;
  max-width: 90%;
  margin: 0 auto;

  &.small {
    width: 60rem;
  }
}

// LISTS
.list-reset {
  list-style: none;
  padding: 0;
}

// HORIZONTAL BARS
hr {
  width: 95%;
  height: 0.25rem;
  margin: 0 auto;
  background-color: #E1E4E3;
  border: none;
  border-style: none;
}

hr.rounded {
  border-radius: 0.5rem;
}

// GEOMETRY
.circle {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #ffffff50;
  transition: .25s ease-in-out;
}

.square {
  width: 1rem;
  height: 1rem;
  transition: .25s ease-in-out;
}

.arrow {
  --color: #fff;

  display: block;
  margin: 0 auto;
  width: 1.25rem;
  height: 1.25rem;
  border-width: 0.15rem;
  border-color: var(--color);
  border-style: solid;
  border-radius: 0.125rem;
  transform: rotate(45deg);
  cursor: pointer;
  
  &.arrow-up {
    border-right: none;
    border-bottom: none;
  }

  &.arrow-down {
    border-top: none;
    border-left: none;
  }

  &.arrow-right {
    border-bottom: none;
    border-left: none;
  }

  &.arrow-left {
    border-top: none;
    border-right: none;
  }

  &.bottom-center {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
  }
}

// NAVBAR
nav { 
  position: fixed;
  display: flex;
  width: 100%;
  height: 5.5rem;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  -webkit-overflow-scrolling: touch;

  a.logo {
    display: block;
    margin: 0 auto .5rem 2rem;

    img {
      width: 9rem;
    }
  }

  &.black-logo {
    a.logo img {
      fill: #353535;
    }
  }

  #item-list {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 5.5rem;
    min-width: 25vw;

    a {
      flex-basis: 15%;
      text-decoration: none;

      .square {
        background-color: var(--active-color);
      }

      .circle {
        background-color: var(--inactive-color);
      }

      &:focus,
      &:hover {
        .circle {
          background-color: var(--inactive-color-hover);
        }

        &::after {
          content: attr(data-name);
          position: absolute;
          top: 3.5rem;
          color: #fff;
        }
      }
    }
  }

  #navbar-arrow {
    margin-right: 2.5rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s ease opacity;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}

#page-content {
  overflow-y: hidden;

  .post-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .post {
      img {
        border-radius: 0.5rem;
      }
    }
  }
}

// FOOTER
footer.footer {
  padding: 3rem 0rem 0rem;
  background-color: transparent;
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}
// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width-image {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

// Override for use of svg's from https://simpleicons.org/
.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.menu-label {
  font-size: 1em !important;
  text-align: left;
}

.menu-list {
  list-style: none !important;
  text-align: left;
}

.full-page {
  width: 100vw;
  height: 100vh;

  #arrow {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.full-page:first-of-type {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.full-page-section {
  position: absolute;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  transition: 0.5s ease-in all;
  overflow-y: visible;
  background-color: #e7eeed;

  &.active {
    transform: translateY(-100vh);
  }

  &:nth-of-type(2n+1) {
    background-color: var(--page-color); 
  }

  #title {
    font-size: 7rem;
    margin: 0;
  }
}

.lateral-space {
  padding: 0 20vw 0 20vw;
}

.projects {
  margin: 0;
  font-size: 72px;
  padding-top: 20vh;
  padding-bottom: 36px;
  font-family: "Sofia Pro SemiBold";
}

// PAGE
.full-page h1#page-title {
  font-weight: 600;
}

.left {
  padding-top: 100px;
  width: 50%;
  float: left;
}

.right {
  padding-top: 100px;
  width: 50%;
  float: right;
}

.thumbnail-gallery {
  text-align: center;
}

.slight-left {
  padding-left: 15vw;
}

.slight-right {
  padding-right: 15vw;
}

// INDEX PAGE
#home {
  #who-and-why {
    .grid {
      grid-template-columns: 70% 30%;
      grid-column-gap: 2rem;
      grid-template-areas: "bio profile";


      #bio {
        grid-area: bio;

        h1 {
          font-size: 72px;
        }

        #social a {
          margin-right: 1rem;
        }
      }

      img {
        grid-area: profile;
        max-height: 60vh;
      }
    }
  }

  #historical-line {
    .grid {
      grid-template-columns: 10% 90%;
      grid-template-rows: 25% 75%;
      grid-template-areas: "timeline title"
                            "timeline timeline-content";
      height: 65vh;
      max-height: 80vh;

      #timeline {
        grid-area: timeline;

        ul {
          width: 0.5rem;
          height: 85%;
          border-radius: 1rem;
          background: #fff;

          li {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 1.5rem;
            height: 1.5rem;
            background: #fff;
            border-radius: 50%;
            cursor: pointer;
            transition: .25s ease all;

            &:first-of-type {
              margin-top: 1rem;
            }

            &.active {
              background: #373322;
            }
          }
        }
      }

      #title {
        grid-area: title;
      }

      #timeline-content {
        grid-area: timeline-content;
        margin-top: 4rem;

        h1 {
          font-size: 3rem;
          margin-bottom: 1.5rem;
        }
        
        p {
          font-weight: 300;
          margin: 0;
        }
      }
    }
  }

  /*
  .historical-left {
    width: 25%;
    float: left;
  }
  
  .historical-right {
    width: 75%;
    float: right;
  }
  
  .historical-line {
    margin: 27vh 0 0 20vw;
    width: 7px;
    height: 50vh;
    background-color: white;
    border-radius: 30px;
  
    .white-circle {
      border-radius: 50%;
      height: 25px;
      width: 25px;
      background-color: white;
    }
  }
  
  .historical-line-text {
    padding: 20vh 0 10vh 0;
  
    h1 {
      font-size: 72px;
      color: white;
    }
  
    h2 {
  
    }
  
    ul {
      list-style-type: none;
      padding-inline-start: 0;
    }
  }
  */

  #news {
    li {
      #news-item {
        img {
          flex-basis: 10%;
        }

        #info {
          flex-basis: 25%;  
          padding: 0 2rem;

          h1 {
            font-size: 3rem;
            line-height: 3rem;
          }
        }

        #description {
          flex-basis: 65%; 
          align-items: flex-end;

          p {
            font-size: 1.25rem;
            color: #707070;
          }
        }
      }
    
      &:last-of-type hr {
        display: none;
      }
    }
  }
}