@media (max-width: 920px) {
  .huge-text {
    font-size: 6rem;
  }

  #item-list {
    width: 35vw;
  }
}

@media (max-width: 720px) {
  #item-list {
    width: 50vw;
  }
}

@media (max-width: 450px) {
  .huge-text {
    word-break: break-all;
  }

  #item-list {
    right: 0.5rem;
    width: 70vw;
  }
}