@media (max-width: 920px) {
  .huge-text {
    font-size: 6rem;
  }

  #item-list {
    width: 35vw;
  }

  .slight-left {
    padding-left: 0;
  }

  .slight-right {
    padding-right: 0;
  }

}

@media (max-width: 720px) {
  nav {
    #item-list {
      width: 50vw;
    }

    .logo {
      display: none;
    }

    .left {
      padding-top: 25px;
      width: 100%;
    }
  
    .right {
      padding-top: 25px;
      width: 100%
    }
  }

  #home {
    #news-item {
      flex-direction: column;

      #info {
        padding: 0;
      }
    }
  }
}

@media (max-width: 540px) {
  .lateral-space {
    padding: 0 10vw 0 10vw;
  }
}

@media (max-width: 470px) {
  .huge-text {
    font-size: 4rem;
    word-break: break-all;
  }

  nav {
    #item-list {
      width: 90vw;
    }
  }
}